<!DOCTYPE html>
<head>
    <h1 id='heading' style="text-align: center;font-family: 'Times New Roman', Times, serif">My To-Do List</h1>
</head>
<body style="background-color: thistle;">
    <div style="text-align: center;">
        <button style="background-color:blueviolet; color: white;border-radius: 8px;padding: 10px 30px;font-size:12px;border: transparent; font-family: 'Times New Roman', Times, serif;" id="newtask" type="submit" onclick="document.location.href='/newtask'">
            <b>NEW TASK<b>                
            </button>
        </div>
        <br>
        <table style="width: 100%;">
        <tr>
            <th>Title:<hr></th>
            <th>Due By:<hr></th>
            <th>Completed?<hr></th>
        </tr>
        <% for(let i=0; i<tasks.length ; i++) { %>
            <tr class="items" id='<%= tasks[i].id%>'>
                <th><%= tasks[i].title %> </th>
                <th><%= tasks[i].due %> </th>
                <th>
                    <button type="submit" onclick="changeText(this)" style="border: transparent;border-radius: 5px;color: blueviolet;border-color: white; padding: 5px;">False</button> 
                    <button type="submit" onclick="document.location.href='/view/<%= tasks[i].id%>'"style="border: transparent;border-radius: 5px;color: blueviolet;border-color: white; padding: 5px;">View</button> 
                    <button type="submit" onclick="document.location.href='/<%= tasks[i].id%>'"style="border: transparent;border-radius: 5px;color: blueviolet;border-color: white; padding: 5px;">Delete</button> 
                </th>
            </tr>
            <% } %>
    </table>
    <script>
        function changeText(button){
            if(button.innerText=="False"){
                button.innerText="True"
            }
            else{
                button.innerText="False"
            }
        }
    </script>
</body>
</html>